<%= @player_1_name %> vs. <%= @player_2_name %>
<p><%= @player_1_name %> HP = <%= @p1_hp %></p>
<p><%= @player_2_name %> HP = <%= @p2_hp %></p>
<p><%= @player_1_name %></p>
<form action="/attack" method="get">
  <input type="submit" value="Attack!">
</form>
